@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
    font-family: Lato, serif;
    background: linear-gradient(90deg, #3f096b 0%, #2f23cf 58%, #1d1d1d 100%);
}

.carousel-indicators{
    bottom: -50px;
    right:auto;
}
p{
    color: white;
}
.nav-link{
    color: rgb(182, 181, 181);
}

.navbar-nav .nav-link.active{
    color: rgb(255, 255, 255);
}

.navbar-brand img{
    width: 45px;
}

.navbar-toggler{
    background-color:rgb(182, 181, 181); ;
}

.sidebar{
    color: white;
    background: linear-gradient(270deg, #3f096b 0%, #2f23cf 58%, #1d1d1d 100%);
}

.card {
    background: linear-gradient(270deg, #3f096b 0%, #2f23cf 58%, #1d1d1d 100%);
    
}

.btn-outline-primary{
    color: aquamarine;
    background: linear-gradient(90deg, #3f096b 0%, #2f23cf 58%, #1d1d1d 100%);
}


.card a{
    text-decoration: none;
    color: white;
}
 .slide-text{
    color:white;
    margin: auto auto;
 }

.call-anim{
    animation: myAnim 2s ease 0s 2 normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 100% 50%;
	}

	10% {
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(4deg);
	}

	80% {
		transform: rotate(-2deg);
	}

	90% {
		transform: rotate(2deg);
	}
}

 @media(max-width:755px){
    .carousel-indicators{
        display: none;
    }
 }

footer{
    background: linear-gradient(270deg, #270642 0%, #1b147e 58%, #0e0d0d 100%);
}

.footer-text{
    color:white;
    margin: auto auto;
}
.media-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

